%a{ href: "#", "data-toggle" => "modal", "data-target" => "#new_template_item" } New template item

.modal.fade{ id: "new_template_item", tabindex: "-1",
    role: "dialog", "aria-labelledby" => "exampleModalLabel", "aria-hidden" => "true" }
  .modal-dialog{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title= t('views.template_items.create.title')
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" } &times;
      .modal-body
        = simple_form_for [checklist_template, template_item] do |f|
          = f.input :title
          = f.button :submit
      .modal-footer
        %button.btn.btn-secondary{ type: "button", "data-dismiss" => "modal" }= t('button.close')
