.container
  = simple_form_for @checklist_template do |f|
    = f.input :title
<<<<<<< HEAD
    = f.input :private
=======
    = f.input :visability
>>>>>>> ae263751305a472bb1e8308255160a978e566c81
    = f.input :tag_list
    = f.submit
