.container
  %h1= t('views.checklist_templates.show.title')
  %h2= @checklist_template.title
  %h3= t('views.checklist_templates.show.tags') + @checklist_template.show_tags
  %ul
    - @template_items.each do |template_item|
      %li
        = template_item.title
        = link_to t('views.checklist_templates.delete.title'),
          checklist_template_template_item_path(@checklist_template, template_item),
          method: :delete, data: { confirm: t('confirmation') }

  = render 'new_template_item_modal', checklist_template: @checklist_template, template_item: TemplateItem.new

  = link_to t('views.checklist_templates.create.checklist'),
    checklist_template_copy_checklist_path(@checklist_template), method: :post


