.container
  %h1= t('views.checklist_templates.show.title')
  %h2= @checklist_template.title
  %h3= t('views.checklist_templates.show.tags') + @checklist_template.tag_show
  %ul
    - @template_items.each do |template_item|
      %li
        = template_item.title
        = link_to t('views.checklist_templates.delete.title'),
          checklist_template_template_item_path(@checklist_template, template_item),
          method: :delete, data: { confirm: t('confirmation') }

  = link_to t('views.checklist_templates.create.checklist'),
    create_checklist_checklist_template_path(@checklist_template), method: :post


