.modal.fade{ id: "edit-checklist", tabindex: "-1",
    role: "dialog", "aria-labelledby" => "exampleModalLabel", "aria-hidden" => "true" }
  .modal-dialgo{ role: "document" }
    .modal-content
      .modal-header
        %h5.modal-title= t('view.checklists.show.title')
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-label" => "Close" }
          %span{ "aria-hidden" => "true" } &times;
      .modal-body
        = simple_form_for checklist do |f|
          = f.input :title
          = f.button :submit
      .modal-footer
        %button.btn.btn-secondary{ type: "button", "data-dismiss" => "modal" }= t('button.close')
